

h1{
    color: orange;
    text-align: center;
}

/* #container{
    margin: auto;
    background-color: darkmagenta;
} */

.boxes{
    width: 600px;
    height: 150px;
    background-color: cyan;
    margin: 20px 350px;
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

img{
    margin: 5px;
}

#box1{
    background-color: orangered;
}

#box2{
    background-color: brown;
}

#box3{
    background-color: red;
}